BROKER_BASE_URL=https://api.upstox.com
BROKER_API_KEY=220ff705-6e4b-48dd-934e-517fa3042ea5
BROKER_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJrZXlfaWQiOiJza192MS4wIiwiYWxnIjoiSFMyNTYifQ.eyJzdWIiOiIyREFNNDUiLCJqdGkiOiI2OWYzNjExNWRmZTljNTRkMWI0YTQwMGYiLCJpc011bHRpQ2xpZW50IjpmYWxzZSwiaXNQbHVzUGxhbiI6ZmFsc2UsImlhdCI6MTc3NzU1Nzc4MSwiaXNzIjoidWRhcGktZ2F0ZXdheS1zZXJ2aWNlIiwiZXhwIjoxNzc3NTg2NDAwfQ.dkFGQ6ROYurk25htEi9SHp3YUT05i80sWDPwWsfZtvk
