UPSTOX_ACCOUNT_ID=
UPSTOX_API_KEY=
UPSTOX_API_SECRET=
UPSTOX_ACCESS_TOKEN=
MONGO_URL=
DEMO_BROKER_MODE=true
DEFAULT_CHALLENGE_CAPITAL=100000
DEFAULT_MAX_LOSS_LIMIT=10000
DEFAULT_MAX_DRAWDOWN_LIMIT=10000
DEFAULT_DAILY_LOSS_LIMIT=5000
DEFAULT_MAX_POSITION_SIZE=0
UPSTOX_INSTRUMENT_MAP={}
